name: Semgrep Scan

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches: ["main"]

jobs:
  semgrep_scan:
    name: semgrep/ci
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep

    permissions:
      contents: read

    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Perform Semgrep Analysis
        run: semgrep ci --config auto --pro /github/workspace/
